<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>

    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <h1>Página de Inicio</h1>
    
    <p>Bienvenid@ a la web de prueba de inicio y cierre de sesión de usuarios</p>
    <p>Eres un usuario ADMIN!</p>
    <p sec:authorize="(hasRole('MODERATOR'))">Además si eres MODERATOR puedes ver ésto también!</p>
    <p>No hay mucho más que ver aquí</p>

    <form th:action="@{/cerrar}" method="post">
        <button type="submit">Cerrar Sesión</button>
    </form>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>

</body>

</html>