<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>

    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <p class="error" th:if="${error!=null}" th:text="${error}"></p>
    <p class="exito" th:if="${exito!=null}" th:text="${exito}"></p>

    <h1>Si No eres usuario</h1>

    <div class="contenedor">
        <form th:action="@{/registrar}" method="post">
            <h1>Crea una cuenta</h1>
            <input type="text" name="username" placeholder="Nombre de usuario" required /><br/>
            <input type="email" name="email" placeholder="Email" required /><br/>
            <input type="password" name="password" placeholder="Contraseña" required /><br/>
            <input type="password" name="password2" placeholder="Repetir cotraseña" required /><br/>
            <button type="submit">Registrar</button>
        </form>
    </div>
    
    <h1>Si eres usuario</h1>
    
    <div class="contenedor">
        <form th:action="@{/login}" method="post">
            <h1>Inicia sesión</h1>
            <input type="email" name="email" placeholder="Email" required /><br/>
            <input type="password" name="password" placeholder="Contraseña" required /><br/>
            <button type="submit">Ingresar</button>
        </form>
    </div>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>

</body>

</html>